# Maven specific
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE files
.idea/
*.iml
*.ipr
*.iws

# Compiled class file
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.ear

# External Folders
bin/
target/